
    <div class="az-header">
      <div class="container">
        <div class="az-header-left">
          <img class="adjust-wh" src="../../../assets/img/logo.png" alt="White Rabit">
          <h3 class="mt-4 ml-2">White Rabbit Group</h3>
          <a href="" id="azMenuShow" class="az-header-menu-icon d-lg-none"><span></span></a>
        </div>
        <div class="az-header-right">
          <div class="dropdown az-profile-menu">
            <a [routerLink]="['/signIn']" routerLinkActive="router-link-active" class="mt-2 link font-weight-bold">Sign Out</a>
          </div>
        </div><!-- az-header-right -->
      </div><!-- container -->
    </div><!-- az-header -->
